body {
  background-color: #1E90FF;
  font-family: "Helvetica", sans-serif;
  color: Black;
}
h1 {
  color: black;
  font-family: "Helvetica", serif;
}
h2 {
  font-family: "Helvetica", serif;
}
h3 {
  font-family: "Helvetica", serif;
}
a {
  color: Black;
  text-decoration: none;
}
nav ul {
  background-color: tomato;
  border-style: solid;
  border-color: MediumVioletRed;
  border-width: 2px;
  padding: 10px;
  border-radius: 10px;
}
nav ul li {
  list-style-type: none;
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
  color: PapayaWhip;
}
nav ul li a {
  text-decoration: none;
  color: Brown;
}
img {
  border-radius: 30px;
}

.topDivider {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #F5FFFA;
  padding-bottom: 10px;
}

.stylishBox {
  background-color: #1E90FF;
  color: Black;
  border-style: solid;
  border-width: 2px;
  border-color: #F5FFFA;
  border-radius: 10px;
}


.someSpacing {
  padding: 10px;
  margin-top: 20px;
}

.tinyPicture {
    height: 60px;
    border-radius: 10px;
}
.card {
    width: 200px;
    height: 200px;
    border: 2px solid #F0FFFF;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
    font-family: "Helvetica", sans-serif;
    margin-left: auto;
    margin-right: auto;
}
.card:hover {
    border-color: #1E90FF;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
















/**********************************
This section is for styling tables
***********************************/
table, th, td {
  border: 1px solid Black;
  border-collapse: Black;
}
tr {
  background-color: #1E90FF;
}
th, td {
  vertical-align: top;
  padding: 10px;
  text-align: left;
}
th {
  color: Black;
}
td {
  color: Black;
}
/********************************/
